*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(182, 182, 182);
}

.container{
    margin: 15% auto;
    width: 268px;
    height:350px;
    padding: 15px;
    background-color: rgb(73, 73, 73);
    border-radius: 15px;
    
}

.display{
    background-color: white;
    border-radius: 5px;
    width: 265px;
    height: 50px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: end;
    line-height: 40px;
    box-sizing: border-box;
    padding: 5px;
}
.numero{
    display: inline;
    width: 205px;
    height: 225px;
    float: left;
    
    margin-left: 1px;
}
.num{

    float: left;
    width: 59px;
    height: 50px;
    margin: 4.5px;
    

}
.num:hover{
    background-color: gray;

}
.num0{
    width: 91px;
    height: 40px;
    margin: 4.5px;

}
.num0:hover{
    background-color: gray;

}
.acao{
    float: left;
    width: 60px;
    height: 225px;
    
}
.acao button{
    width: 50px;
    height: 48px;
    margin: 4.5px;
    background-color: orangered;

}
.acao button:hover{
   
    background-color: rgb(141, 38, 0);

}
.acao2{
    clear: both;
    padding: 5px;

}
.acao2 button{
    width: 50px;
    height: 48px;
    background-color: orangered;
}
.acao2 button:hover{
    background-color: rgb(141, 38, 0);
}
.acao2 .igual{
    width: 146px;
    background-color: greenyellow;
}
.acao2 .igual:hover{
    background-color: rgb(105, 156, 29);
}
button{
    border: none;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    
}